name: "Build"
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  build-omp-launcher:
    name: Windows build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly

      - name: Install frontend dependencies
        run: yarn install

      - name: Install rust i686-pc-windows-msvc target
        run: rustup target add i686-pc-windows-msvc

      - name: Setup NSIS plugin
        shell: powershell
        run: |
          $nsis_plugins = "C:\Program Files (x86)\NSIS\Plugins\x86-ansi"
          New-Item -ItemType Directory -Path $nsis_plugins -Force | Out-Null
          $url = "https://github.com/tauri-apps/nsis-tauri-utils/releases/download/nsis_tauri_utils-v0.5.2/nsis_tauri_utils.dll"
          Invoke-WebRequest -Uri $url -OutFile "$nsis_plugins\nsis_tauri_utils.dll" -UseBasicParsing

      - name: Build project
        run: yarn release

      - name: Generate artifact name
        id: vars
        shell: bash
        run: |
          artifact_name="open.mp-launcher-win-${GITHUB_RUN_ID}"
          echo "artifact_name=${artifact_name}" >> $GITHUB_OUTPUT

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.vars.outputs.artifact_name }}
          path: src-tauri/target/i686-pc-windows-msvc/release/omp-launcher.exe
          if-no-files-found: error
